body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #171d25;
  color: #f1f1f1;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
